<configuration scan="true" scanPeriod="30 seconds">

    <springProperty name="application_name" source="spring.application.name"/>

    <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
        <encoder>
            <pattern>[%date][%-5level][%thread][%logger{40}][%X{traceId}/%X{parentId}/%X{spanId}] -
                %message%n%exception
            </pattern>
        </encoder>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE">
        <file>logs/${application_name}.log</file>
    </appender>
    <logger name="org.springframework.core.env" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>
    <logger name="org.springframework.data" level="INFO"/>
    <logger name="org.springframework.jdbc" level="INFO"/>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
